#contactPage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactPageTitle{
    font-size:3rem;
    margin-bottom: 1rem;
}
.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;

}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 60rem;

}
.name , .email , .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: rgb(4, 4, 5);
    border: none;
    border-radius: 1rem;
    background-color: aliceblue;

}
.submitBtn{
    background-color: aliceblue;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 3.6rem;
    margin: 2rem;
}
.links{
    display: flex;
        height: 40px;
    gap: 28px;               
  justify-content: center;
    
    flex-wrap: wrap;
}
.link{
    width: 20px;
width: 50px;             
  height: 50px;           
  border-radius: 8%;      
  object-fit: cover;      
  transition: transform 0.3s ease;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

